<!-- <div *ngIf="loading" class="flex items-center justify-center h-screen">
  <div class="text-lg text-gray-600 animate-pulse">Loading manager info...</div>
</div> -->

<div *ngIf="!loading && isApproved" class="flex flex-col items-center justify-center h-screen bg-green-50 p-6 rounded-xl shadow-lg">
  <button (click)="goBack()" class="bg-gray-300 text-black font-semibold px-4 py-2 mt-2 rounded hover:bg-gray-400">
      Back
    </button>
  <h2 class="text-2xl font-bold text-green-700 mb-4">
    Welcome, {{ manager.user.name || 'Manager' }}
  </h2>
  <p class="text-gray-600 mb-6">You are approved by Founder ✅</p>

  <button
    class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-200"
    (click)="goTo('app/leaverequest')"
  >
    Go to Leave Management
  </button>
</div>

<div *ngIf="!loading && !isApproved" class="flex flex-col items-center justify-center h-screen bg-yellow-50 p-6 rounded-xl shadow-lg">
  <h3 class="text-xl font-bold text-yellow-600 mb-4">Approval Pending</h3>
  <p class="text-gray-600 mb-6">You are not approved by the Founder yet.</p>

  <button
    class="bg-yellow-500 hover:bg-yellow-600 text-black font-semibold py-2 px-4 rounded-lg transition duration-200"
    (click)="goTo('app/dashboard/user')"
  >
    Go to Dashboard
  </button>
</div>
