<app-user-notification></app-user-notification>
<div  class="flex flex-col items-center justify-center min-h-screen bg-cover bg-center bg-no-repeat p-6"
  style="background-image: url('https://source.unsplash.com/featured/?office,workspace');">
  <div class="bg-white bg-opacity-90 shadow-xl rounded-2xl p-8 max-w-md w-full text-center backdrop-blur-sm">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">
      Hello <span class="text-blue-600">{{ userName }}</span>, you don't have any role yet.
    </h2>
    <p class="text-gray-600 mb-6">Please choose one of the roles below to apply:</p>

    <div class="flex flex-col space-y-4">
      <button
        class="bg-blue-600 hover:bg-blue-700 hover:scale-105 transform text-white font-semibold py-2 px-4 rounded-lg transition duration-300 disabled:bg-gray-400 disabled:cursor-not-allowed"
        (click)="applyForEmployee()" [disabled]="employee?.isApllied === true">
        Apply for Employee Role
      </button>

      <button
        class="bg-blue-600 hover:bg-blue-700 hover:scale-105 transform text-white font-semibold py-2 px-4 rounded-lg transition duration-300 disabled:bg-gray-400 disabled:cursor-not-allowed"
        (click)="applyForManager()" [disabled]="employee?.isApllied === false">
        Apply for Manager Role
      </button>
      
    </div>
    <button (click)="goBack()" class="bg-gray-300 text-black font-semibold px-4 py-2 mt-2 rounded hover:bg-gray-400">
      Back
    </button>
  </div>
</div>

<!-- <div *ngIf="hasRole"
  class="flex items-center justify-center min-h-screen bg-cover bg-center bg-no-repeat text-green-600 text-lg font-semibold"
  style="background-image: url('https://source.unsplash.com/featured/?success,achievement');">
  You already have a role assigned. Redirecting...
  <p>{{employee?.isApllied}}</p>
</div> -->